I have access to a python code repository in the directory {{ repo_path }} . You can explore and modify files using the available tools. Consider the following issue description:

<issue_description>
{{ problem_statement }}
</issue_description>

Can you help me implement the necessary changes to the repository so that the requirements specified in the <issue_description> are met?
I've already taken care of all changes to any of the test files described in the <issue_description>. This means you DON'T have to modify the testing logic or any of the tests in any way!
Also the development Python environment is already set up for you (i.e., all dependencies already installed), so you don't need to install other packages.
{% if python_version %}
The project uses Python {{ python_version }} via conda environment "{{ conda_env_name }}". All commands will run in this environment.
{% endif %}
Your task is to make the minimal changes to non-test files in the {{ repo_path }} directory to ensure the <issue_description> is satisfied.